*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 80px ;
    background: orangered;

}

#navbar {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


body {
    background-image: url("https://www.foodsafety.gov/sites/default/files/styles/og_image_style/public/2019-05/Keep%20Food%20Safe.jpg?h=a4d068ee&itok=1SFsheMq");
    background-size: contain;
}

#container {
 margin:5%;

display:grid;
grid-template-columns: repeat(5,18%); 
justify-content: space-between;
gap: 2%;
}

#container > div {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2%;
  }
  
  #container > div > img {
    width: 100%;
  }
  #container > div > button {
    padding:1% 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(255, 90, 61);
    color: white;
    border-radius: 5px;
  }